In [1]:
import pandas as pd

In [11]:
bts_faa_df = pd.read_parquet("./../data/bts_faa_sample_1_42.parquet")

bts_faa_df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginCityMarketID,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,faa_registration_origin
0,2021,1,1,11,1,2021-01-11 00:00:00,9E,904XJ,4843,31295,...,5.0,1.0,0.0,2.0,95.0,CLASS 3,0.0,,...,2023.0
1,2015,3,9,18,5,2015-09-18 00:00:00,OO,915EV,4564,31650,...,5.0,1.0,0.0,2.0,55.0,CLASS 3,0.0,,...,2023.0
2,2016,2,4,6,3,2016-04-06 00:00:00,DL,370NB,929,33316,...,5.0,1.0,0.0,2.0,145.0,CLASS 3,0.0,A28NM,AIRBUS SAS ...,2023.0
3,2020,3,8,10,1,2020-08-10 00:00:00,B6,355JB,1338,31703,...,5.0,1.0,0.0,2.0,20.0,CLASS 2,0.0,A57NM,YABORA INDUSTRIA AERONAUTICA S A ...,2023.0
4,2016,2,4,5,2,2016-04-05 00:00:00,DL,810DN,2392,31650,...,5.0,1.0,0.0,2.0,222.0,CLASS 3,0.0,,...,2023.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524925,2015,2,6,25,4,2015-06-25 00:00:00,HA,487HA,340,33830,...,5.0,1.0,0.0,2.0,100.0,CLASS 3,0.0,,...,2023.0
524926,2015,1,3,16,1,2015-03-16 00:00:00,NK,523NK,645,31295,...,5.0,1.0,0.0,2.0,179.0,CLASS 3,0.0,A28NM,AIRBUS SAS ...,2023.0
524927,2017,1,1,1,7,2017-01-01 00:00:00,OO,254SY,4907,32457,...,5.0,1.0,0.0,2.0,88.0,CLASS 3,0.0,,...,2023.0
524928,2019,1,3,16,6,2019-03-16 00:00:00,OO,699BR,3127,30977,...,5.0,1.0,0.0,2.0,55.0,CLASS 3,0.0,,...,2023.0
524929,2023,2,4,19,3,2023-04-19 00:00:00,UA,818UA,242,34057,...,4.0,1.0,0.0,2.0,179.0,CLASS 3,0.0,A28NM,AIRBUS SAS ...,2023.0

In [8]:
airport_df = pd.read_csv("./../data/T_MASTER_CORD.csv")

airport_df = airport_df[airport_df["AIRPORT_IS_LATEST"].eq(1)]

airport_df

,AIRPORT_SEQ_ID,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_WAC_SEQ_ID2,AIRPORT_WAC,AIRPORT_COUNTRY_NAME,AIRPORT_COUNTRY_CODE_ISO,AIRPORT_STATE_NAME,...,LON_DEGREES,LON_HEMISPHERE,LON_MINUTES,LON_SECONDS,LONGITUDE,UTC_LOCAL_TIME_VARIATION,AIRPORT_START_DATE,AIRPORT_THRU_DATE,AIRPORT_IS_CLOSED,AIRPORT_IS_LATEST
0,1000101,10001,01A,Afognak Lake Airport,"Afognak Lake, AK",101,1,United States,US,Alaska,...,152.0,W,54.0,24.0,-152.906667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
1,1000301,10003,03A,Bear Creek Mining Strip,"Granite Mountain, AK",101,1,United States,US,Alaska,...,161.0,W,4.0,18.0,-161.071667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
2,1000401,10004,04A,Lik Mining Camp,"Lik, AK",101,1,United States,US,Alaska,...,163.0,W,10.0,0.0,-163.166667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
3,1000501,10005,05A,Little Squaw Airport,"Little Squaw, AK",101,1,United States,US,Alaska,...,148.0,W,11.0,2.0,-148.183889,NaN,8/1/2007 12:00:00 AM,NaN,0,1
4,1000601,10006,06A,Kizhuyak Bay,"Kizhuyak, AK",101,1,United States,US,Alaska,...,152.0,W,52.0,58.0,-152.882778,NaN,10/1/2007 12:00:00 AM,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19136,1699001,16990,1NJ,Aeroflex Andover,"Andover, NJ",2101,21,United States,US,New Jersey,...,74.0,W,44.0,17.0,-74.738056,-500.0,1/1/2023 12:00:00 AM,NaN,0,1
19137,1699101,16991,3NC,Hendersonville Airport,"Hendersonville, NC",3601,36,United States,US,North Carolina,...,82.0,W,25.0,59.0,-82.433056,-500.0,1/1/2023 12:00:00 AM,NaN,0,1
19138,1699201,16992,3AK,Gold Mining Landing Strip,"Tintina, AK",101,1,United States,US,Alaska,...,155.0,W,29.0,28.0,-155.491111,-900.0,1/1/2023 12:00:00 AM,NaN,0,1
19139,1699301,16993,MN8,Walker Municipal,"Walker, MN",6301,63,United States,US,Minnesota,...,94.0,W,38.0,43.0,-94.645278,-600.0,6/1/2023 12:00:00 AM,NaN,0,1
19140,9999901,99999,ZZZ,Unknown Point in Alaska,Unknown Point in Alaska,101,1,United States,US,Alaska,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1950 12:00:00 AM,NaN,0,1

In [10]:
coords = airport_df[
    [
        "AIRPORT",
        "DISPLAY_AIRPORT_NAME",
        "DISPLAY_AIRPORT_CITY_NAME_FULL",
        "LATITUDE",
        "LONGITUDE",
    ]
]

coords

,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,LATITUDE,LONGITUDE
0,01A,Afognak Lake Airport,"Afognak Lake, AK",58.109444,-152.906667
1,03A,Bear Creek Mining Strip,"Granite Mountain, AK",65.548056,-161.071667
2,04A,Lik Mining Camp,"Lik, AK",68.083333,-163.166667
3,05A,Little Squaw Airport,"Little Squaw, AK",67.570000,-148.183889
4,06A,Kizhuyak Bay,"Kizhuyak, AK",57.745278,-152.882778
...,...,...,...,...,...
19136,1NJ,Aeroflex Andover,"Andover, NJ",41.008611,-74.738056
19137,3NC,Hendersonville Airport,"Hendersonville, NC",35.307500,-82.433056
19138,3AK,Gold Mining Landing Strip,"Tintina, AK",64.409722,-155.491111
19139,MN8,Walker Municipal,"Walker, MN",47.159444,-94.645278
19140,ZZZ,Unknown Point in Alaska,Unknown Point in Alaska,NaN,NaN

In [20]:
origin_coords = coords.add_prefix("Origin_")
bts_faa_coords_df = pd.merge(
    bts_faa_df, origin_coords, left_on="Origin", right_on="Origin_AIRPORT", how="left"
)

dest_coords = coords.add_prefix("Dest_")
bts_faa_coords_df = pd.merge(
    bts_faa_coords_df, dest_coords, left_on="Dest", right_on="Dest_AIRPORT", how="left"
)

bts_faa_coords_df = bts_faa_coords_df.drop(
    ["Origin_AIRPORT", "Dest_AIRPORT"], axis="columns"
)

In [21]:
bts_faa_coords_df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginCityMarketID,...,TC-DATA-HOLDER,faa_registration_origin,Origin_DISPLAY_AIRPORT_NAME,Origin_DISPLAY_AIRPORT_CITY_NAME_FULL,Origin_LATITUDE,Origin_LONGITUDE,Dest_DISPLAY_AIRPORT_NAME,Dest_DISPLAY_AIRPORT_CITY_NAME_FULL,Dest_LATITUDE,Dest_LONGITUDE
0,2021,1,1,11,1,2021-01-11 00:00:00,9E,904XJ,4843,31295,...,...,2023.0,Detroit Metro Wayne County,"Detroit, MI",42.212500,-83.353333,Albany International,"Albany, NY",42.749167,-73.801944
1,2015,3,9,18,5,2015-09-18 00:00:00,OO,915EV,4564,31650,...,...,2023.0,Minneapolis-St Paul International,"Minneapolis, MN",44.881944,-93.221667,Minot International,"Minot, ND",48.257778,-101.278056
2,2016,2,4,6,3,2016-04-06 00:00:00,DL,370NB,929,33316,...,AIRBUS SAS ...,2023.0,Eppley Airfield,"Omaha, NE",41.303056,-95.894167,Minneapolis-St Paul International,"Minneapolis, MN",44.881944,-93.221667
3,2020,3,8,10,1,2020-08-10 00:00:00,B6,355JB,1338,31703,...,YABORA INDUSTRIA AERONAUTICA S A ...,2023.0,John F. Kennedy International,"New York, NY",40.640000,-73.778611,Martha's Vineyard Airport,"Martha's Vineyard, MA",41.393333,-70.613889
4,2016,2,4,5,2,2016-04-05 00:00:00,DL,810DN,2392,31650,...,...,2023.0,Minneapolis-St Paul International,"Minneapolis, MN",44.881944,-93.221667,Phoenix Sky Harbor International,"Phoenix, AZ",33.434167,-112.011667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534924,2015,2,6,25,4,2015-06-25 00:00:00,HA,487HA,340,33830,...,...,2023.0,Kahului Airport,"Kahului, HI",20.898611,-156.430556,Ellison Onizuka Kona International at Keahole,"Kona, HI",19.738889,-156.045556
534925,2015,1,3,16,1,2015-03-16 00:00:00,NK,523NK,645,31295,...,AIRBUS SAS ...,2023.0,Detroit Metro Wayne County,"Detroit, MI",42.212500,-83.353333,Tampa International,"Tampa, FL",27.975556,-82.533333
534926,2017,1,1,1,7,2017-01-01 00:00:00,OO,254SY,4907,32457,...,...,2023.0,San Francisco International,"San Francisco, CA",37.618889,-122.375556,Los Angeles International,"Los Angeles, CA",33.942500,-118.408056
534927,2019,1,3,16,6,2019-03-16 00:00:00,OO,699BR,3127,30977,...,...,2023.0,Chicago O'Hare International,"Chicago, IL",41.976944,-87.908056,General Mitchell International,"Milwaukee, WI",42.946944,-87.896944
534928,2023,2,4,19,3,2023-04-19 00:00:00,UA,818UA,242,34057,...,AIRBUS SAS ...,2023.0,Portland International,"Portland, OR",45.588611,-122.596944,San Francisco International,"San Francisco, CA",37.618889,-122.375556

In [7]:
x = coords[coords["AIRPORT"].isin(df["Origin"].unique())]

x # 384

,AIRPORT_SEQ_ID,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_WAC_SEQ_ID2,AIRPORT_WAC,AIRPORT_COUNTRY_NAME,AIRPORT_COUNTRY_CODE_ISO,AIRPORT_STATE_NAME,...,LON_DEGREES,LON_HEMISPHERE,LON_MINUTES,LON_SECONDS,LONGITUDE,UTC_LOCAL_TIME_VARIATION,AIRPORT_START_DATE,AIRPORT_THRU_DATE,AIRPORT_IS_CLOSED,AIRPORT_IS_LATEST
189,1013506,10135,ABE,Lehigh Valley International,"Allentown/Bethlehem/Easton, PA",2301,23,United States,US,Pennsylvania,...,75.0,W,26.0,25.0,-75.440278,-500.0,12/1/2019 12:00:00 AM,NaN,0,1
192,1013603,10136,ABI,Abilene Regional,"Abilene, TX",7401,74,United States,US,Texas,...,99.0,W,40.0,55.0,-99.681944,-600.0,7/1/2011 12:00:00 AM,NaN,0,1
209,1014005,10140,ABQ,Albuquerque International Sunport,"Albuquerque, NM",8601,86,United States,US,New Mexico,...,106.0,W,36.0,30.0,-106.608333,-700.0,12/1/2017 12:00:00 AM,NaN,0,1
215,1014106,10141,ABR,Aberdeen Regional,"Aberdeen, SD",6701,67,United States,US,South Dakota,...,98.0,W,25.0,21.0,-98.422500,-600.0,12/1/2017 12:00:00 AM,NaN,0,1
235,1014602,10146,ABY,Southwest Georgia Regional,"Albany, GA",3401,34,United States,US,Georgia,...,84.0,W,11.0,40.0,-84.194444,-500.0,7/1/2011 12:00:00 AM,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17070,1599102,15991,YAK,Yakutat Airport,"Yakutat, AK",101,1,United States,US,Alaska,...,139.0,W,39.0,37.0,-139.660278,-900.0,7/1/2011 12:00:00 AM,NaN,0,1
17367,1610102,16101,YKM,Yakima Air Terminal/McAllister Field,"Yakima, WA",9301,93,United States,US,Washington,...,120.0,W,32.0,39.0,-120.544167,-800.0,7/1/2011 12:00:00 AM,NaN,0,1
17707,1621802,16218,YUM,Yuma MCAS/Yuma International,"Yuma, AZ",8101,81,United States,US,Arizona,...,114.0,W,36.0,22.0,-114.606111,-700.0,10/1/2018 12:00:00 AM,NaN,0,1
18238,1644001,16440,AUS,Robert Mueller Municipal,"Austin, TX",7401,74,United States,US,Texas,...,97.0,W,42.0,5.0,-97.701389,-600.0,1/1/1950 12:00:00 AM,5/31/1999 12:00:00 AM,1,1
18994,1686902,16869,XWA,Williston Basin International,"Williston, ND",6601,66,United States,US,North Dakota,...,103.0,W,45.0,2.0,-103.750556,-600.0,10/1/2022 12:00:00 AM,NaN,0,1